/* Responsive Design of top box  start */

@media (max-width: 768px) {
  .nav-wrapper {
    flex-direction: column;
    gap: 10px;
  }
   .burger {
    display: flex;
  }

  .nav-items {
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    background-color: #007bff;
    width: 100%;
    text-align: center;
  }
  .logo{
    margin-left: 20px;
    margin-top: 20px;
  }
  .nav-items ul {
    flex-direction: column;
    gap: 15px;
    padding: 20px 40px;
  }

  .nav-items.active {
    display: block;
  }
}

/* Responsive Design of top box end */

/* hero section responsive code start */

@media( max-width: 768px){
    .hero-img{
        height: auto;
        max-width: 400px;
    }
    .hero-img img {
        object-fit: contain;
        height: auto;
        width: 100%;
    }
    .hero-section .flex{
        flex-direction: column;
        gap: 30px;
    }
}
@media( max-width: 768px){
    .top-banner{
        height: 200vh;
    }
    .container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}
 .input-hero-section{
    width: 390px;
 }
}

/* hero section responsive code end */

@media( max-width: 768px){
  .boxesstyle .flex{
    flex-direction: column;
  }
  .boxesstyle .box{
    margin-top: 0;
  }
  .icon-circle{
    margin-left: 100px;
  }
  h1{
    margin-left: 100px;
  }
}

/* responsive code of game image boxes */

@media screen and (max-width: 1024px) {
  .box-game {
    width: calc((100% - 3 * 20px) / 4); /* 4 boxes per row on tablets */
    height: auto;
    padding: 20px;
  }
}

@media screen and (max-width: 768px) {
  .box-game {
    width: calc((100% - 2 * 15px) / 3); /* 3 boxes per row on small tablets */
  }
}

@media screen and (max-width: 480px) {
  .game-flex {
    flex-direction: column;
    gap: 15px;
  }
  .box-game {
    width: 100% !important;  /* Full width on mobiles */
    height: auto;
    padding: 15px;
  }
  .box-img img {
    height: auto;
    max-width: 100%;
    object-fit: contain; /* better image scaling on mobiles */
  }
  .box-content-2{
    padding-bottom: 10px;
    padding-right: 70px;
  }
}


@media screen and (max-width: 768px){
  .pubg-img {
  margin-top: 150px;
  text-align: center;
  padding: 0 15px; /* Thoda padding for small screens */
}

.pubg-img img {
  width: 100%;           /* Full width of container */
  max-width: 500px;      /* Limit on large screens */
  border-radius: 25px;   /* Round edges */
  display: inline-block;
  height: auto;          /* Maintain aspect ratio */
}

}